.section_name{
    font-family: Poppins;
    font-size: var(--XXL-font-size);
    line-height: 60px;
    letter-spacing: 1px;
    padding: 10px 30px;
    margin: 0px;
}

@media (min-width: 600px){

    .news_card{
        margin: 15px 15px;
        height: auto;
      }

    .news_cards{
        padding-bottom: 40px;
    }

}

.news_cards::-webkit-scrollbar {
    display: none;
}
  
.news_cards::-webkit-scrollbar-track {
    display: none;
}
   
.news_cards::-webkit-scrollbar-thumb {
    display: none;
}
  
.news_cards::-webkit-scrollbar-thumb:hover {
    display: none;
}