article .bottom_wrapper{
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font-family);
    
    padding: 15px;

}
article .bottom_wrapper .publisher{
    margin: 0px;
    text-transform: uppercase;
    line-height: 21px;
    display: flex;
    font-size: var(--paragraph-font-size);

}
article .bottom_wrapper .publishedAt{
    font-size: var(--paragraph-font-size);
    margin: 0px;
    text-transform: uppercase;
    line-height: 21px;

}