nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    transform: translateX(-100vw);
    z-index: 199;
    transition: .3s transform ease-in-out;
    overflow: scroll;
    color: var(--label-color);
    font-family: var(--main-font-family);

}

.opened{
    transform: translateX(0px);
}


nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}
nav ul li{
    background-color: var(--input-background-color);
    -webkit-appearance: none;
    box-shadow: var(--shadow-color);
    -webkit-box-shadow: var(--shadow-color);
    border-radius: 20px;
    width: 90vw;
    box-sizing: border-box;
    border: none;
    height: 75px;
    padding: 20px;
    font-size: 25px;
    margin: 10px auto;
    outline: none;
    position: relative;
    cursor: pointer;
    color: var(--label-color);
    text-align: left;
}

nav h1{
    font-size: var(--XXL-font-size);
    padding-top: 60px;
    padding-bottom: 10px;
    margin: 0px 30px;
}
nav p{
    padding: 0px 10px
}




@media (min-width: 700px){
    nav{
        right: 0px;
        max-width: 500px;
        transform: translateX(500px);
        box-shadow: -5px 0px 15px 10px rgba(0,0,0,0.10);
    }
    nav ul li {
        max-width: 90%;
    }
}

